aws_region = "us-east-1"
key_name = "test.key"
availability_zones = "us-east-1b,us-east-1c,us-east-1d"
vpc_cidr_block = "172.31.0.0/16"
#debian 8
aws_amis = {
  "us-east-1" = "ami-116d857a"
}

version = {
  nomad = "0.5.0"
  consul = "0.7.1"
  vault = "0.6.2"
  hashistack = "0.2.0"
}

server_instance_type = "t2.nano"
client_instance_type = "t2.nano"
asg_min = "1"
asg_max = "1"
asg_desired = "1"

privateDNS = "dev.local"

#get my ip : dig +short myip.opendns.com @resolver1.opendns.com
my_ip = "<your_IP_here>/32"

###### IP setup####
#client us-east-1b 172.31.1.0/24
#client us-east-1c 172.31.2.0/24
#client us-east-1e 172.31.3.0/24
#server us-east-1b 172.31.0.0/28
#server us-east-1c 172.31.0.16/28
#server us-east-1d 172.31.0.32/28